Nodered code.txt
[{"id":"df6518a5.58d298","type":"tab","label":"IoT and Alexa Connect"},{"id":"291a27a2.d21df8","type":"tab","label":"Flow 1"},{"id":"a2a2101b.a5c09","type":"tab","label":"Weather"},{"id":"4bb0a340.a70ccc","type":"tab","label":"Traffic"},{"id":"be5804a0.ac3408","type":"tab","label":"News"},{"id":"d01ff546.a7f6c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e319f0e3.708418","type":"websocket-listener","z":"df6518a5.58d298","path":"/ws/simple","wholemsg":"false"},{"id":"7d961659.8bdb3","type":"websocket-listener","z":"","path":"/ws/updateschedule","wholemsg":"true"},{"id":"f26b42f.a1e134","type":"websocket-listener","z":"","path":"/ws1/simple","wholemsg":"false"},{"id":"9f20461e.3dee38","type":"ibmiot in","z":"df6518a5.58d298","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"mydevice","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":"2","x":55,"y":212.66668701171875,"wires":[["111cbe1.7a34742","e9d81268.f41dc"]]},{"id":"111cbe1.7a34742","type":"debug","z":"df6518a5.58d298","name":"","active":false,"console":"false","complete":"payload","x":219.83331298828125,"y":57.66667175292969,"wires":[]},{"id":"d106adb.a836e5","type":"cloudant out","z":"df6518a5.58d298","name":"cardata","cloudant":"","database":"cardata","service":"cardata-cloudantNoSQLDB","payonly":true,"operation":"insert","x":65,"y":298.33331298828125,"wires":[]},{"id":"350a4d35.56b6ca","type":"http in","z":"df6518a5.58d298","name":"incoming request","url":"/jarvis","method":"post","swaggerDoc":"","x":85,"y":731,"wires":[["7ce4c955.a56b28"]]},{"id":"7ce4c955.a56b28","type":"switch","z":"df6518a5.58d298","name":"sort by request type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":196,"y":594,"wires":[[],["ffed5c24.4817c8"],[],[]]},{"id":"ffed5c24.4817c8","type":"switch","z":"df6518a5.58d298","name":"Sort by Intent","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"HelloWorldIntent","vt":"str"},{"t":"eq","v":"DriveIntent","vt":"str"},{"t":"eq","v":"TimeIntent","vt":"str"},{"t":"eq","v":"NewsIntent","vt":"str"},{"t":"eq","v":"TrafficIntent","vt":"str"},{"t":"eq","v":"CurrentWeatherIntent","vt":"str"},{"t":"eq","v":"ForecastWeatherIntent","vt":"str"}],"checkall":"true","outputs":7,"x":365.3333282470703,"y":448.6666564941406,"wires":[["4ead6d.fc3ed294"],["e9d81268.f41dc"],["ffc9678e.eac618"],["1a2e30d9.6953ef"],["8647d1ef.ac4ff"],["45824a1c.829754"],["25030d17.214672"]]},{"id":"4ead6d.fc3ed294","type":"template","z":"df6518a5.58d298","name":"say Hello","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello World","x":644.7143630981445,"y":405.57140922546387,"wires":[["9106cc87.af80e8","fa6d61e0.f8ca3"]]},{"id":"9106cc87.af80e8","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"Thanks for your question, here is the response from Jarvis!!{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":827.2856521606445,"y":407.14282035827637,"wires":[["e1e3ba25.5732c8"]]},{"id":"e1e3ba25.5732c8","type":"json","z":"df6518a5.58d298","name":"","x":1006.714241027832,"y":410.42858695983887,"wires":[["e5834861.733c28"]]},{"id":"e5834861.733c28","type":"http response","z":"df6518a5.58d298","name":"http","x":1172.0000076293945,"y":406.99999809265137,"wires":[]},{"id":"19870802.cd35b","type":"template","z":"df6518a5.58d298","name":"not driving","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Not driving at all","x":561.142822265625,"y":245,"wires":[["8c9572d1.10d928","836f3de5.bc796"]]},{"id":"8c9572d1.10d928","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":763.857177734375,"y":207,"wires":[["8dfc7aac.50176"]]},{"id":"8dfc7aac.50176","type":"json","z":"df6518a5.58d298","name":"","x":933,"y":252.28570556640625,"wires":[["2dbefd1e.7c201a"]]},{"id":"2dbefd1e.7c201a","type":"http response","z":"df6518a5.58d298","name":"http","x":1082.2857666015625,"y":264.5714416503906,"wires":[]},{"id":"e9d81268.f41dc","type":"function","z":"df6518a5.58d298","name":"Driving","func":"context.ibmiot = context.ibmiot || null;\n\ncontext.intent = context.intent || null;\n var speedMsg  , intentMsg; \n\nif (msg.payload.request.type === 'IBMiot')\n    {\n    context.ibmiot = msg.payload;\n    var speedMsg = msg;\n     //speedMsg.payload = (msg.payload.request.rpm <= 1000) ? true : false;\n     //return [speedMsg , null];\n\n    }else if (msg.payload.request.type === 'IntentRequest')\n    {\n    context.intent = msg.payload;\n    var intentMsg = msg;\n    }\n    \n    \n\nif (context.intent !== null && context.ibmiot !== null)\n    {\n    //return ibmiot response to a function to calculate the speed\n    \n    \n    context.ibmiot = null;\n    context.intent = null;\n    return [intentMsg , null];  \n    \n    \n}else if (context.intent !== null && context.ibmiot === null){\n    //return output to a function saying not driving;\n    context.ibmiot = null;\n    context.intent = null;\n    return [null , intentMsg];\n\n}else if (context.intent === null && context.ibmiot !== null){\n    //return null on both the outputs so no action takes place.\n   // return [speedMsg, null];\n\n}else if (context.intent === null && context.ibmiot === null){\n    //This condition will never be satisfied.\n}\n","outputs":"2","noerr":0,"x":319.142822265625,"y":213.28570556640625,"wires":[["945e9389.6de718"],["19870802.cd35b"]]},{"id":"945e9389.6de718","type":"template","z":"df6518a5.58d298","name":"driving","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"driving well within the speed limits","x":514,"y":62,"wires":[["bc0a21a7.76c9d8","1f7959f0.4daed6"]]},{"id":"bc0a21a7.76c9d8","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":705,"y":99,"wires":[["c4fb9469.cb4f7"]]},{"id":"c4fb9469.cb4f7","type":"json","z":"df6518a5.58d298","name":"","x":915.142822265625,"y":130.28570556640625,"wires":[["5c996ef2.66277"]]},{"id":"5c996ef2.66277","type":"http response","z":"df6518a5.58d298","name":"http","x":1117.4285888671875,"y":127.57144165039062,"wires":[]},{"id":"ffc9678e.eac618","type":"http request","z":"df6518a5.58d298","name":"get time zone","method":"GET","ret":"obj","url":"https://maps.googleapis.com/maps/api/timezone/json?location=40.4841,-88.9937&timestamp=1458000000&key=AIzaSyDatNfYBbLunXW1zkmXBfy1AyoegIlIq2g","tls":"","x":1015.0000534057617,"y":485.000036239624,"wires":[["ef05df35.a33e38"]]},{"id":"5c4c3834.1e3968","type":"json","z":"df6518a5.58d298","name":"","x":1672.3333867390952,"y":547.3333695729574,"wires":[["f015ccb2.00d8b"]]},{"id":"f015ccb2.00d8b","type":"http response","z":"df6518a5.58d298","name":"http","x":1838.6191533406577,"y":543.9047807057699,"wires":[]},{"id":"fa6d61e0.f8ca3","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":810.7500076293945,"y":355.99999809265137,"wires":[]},{"id":"182bda8e.7af74d","type":"http response","z":"df6518a5.58d298","name":"","x":946.8333587646484,"y":1030.8333702087402,"wires":[]},{"id":"10c2153c.0719a3","type":"http in","z":"df6518a5.58d298","name":"","url":"/simple","method":"get","swaggerDoc":"","x":381.1666946411133,"y":1030.8333616256714,"wires":[["14dbc230.b2c1ae"]]},{"id":"51d038c5.589b","type":"template","z":"df6518a5.58d298","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Smart Mirror Assistant</title>\n    <style>{{{payload.style}}}</style>\n    <script type=\"text/javascript\">\n        var ws,ws1;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            \n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+\"Jarvis has responded to your question :  \"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                document.getElementById('time').innerHTML = datetime;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            \n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            \n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { \n            ws.send(m);\n            }\n        }\n        \n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h4><i>Hello, this is Jarvis!! Your Smart Mirror</i></h4>\n        <div id=\"successdisplay\" style=\"font-size:100%\">I am here to help!! Ask me your questions!!\n\t\t</div>\n        <div id=\"messages\" style=\"font-size:60%\"></div>\n        <hr/>\n        \n        <!-- <div id=\"status\">unknown</div>-->\n        </font>\n    </body>\n    \n</html>\n","x":774.8333587646484,"y":1030.8333702087402,"wires":[["182bda8e.7af74d"]]},{"id":"6a77f7ed.136d08","type":"websocket in","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":762.8333587646484,"y":1142.8333702087402,"wires":[["49f188b7.98de2"]]},{"id":"49f188b7.98de2","type":"debug","z":"df6518a5.58d298","name":"","active":true,"console":"false","complete":"false","x":952.8333587646484,"y":1142.8333702087402,"wires":[]},{"id":"69db5bcc.46a964","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":1517.0000127156577,"y":486.33330853780114,"wires":[]},{"id":"14dbc230.b2c1ae","type":"template","z":"df6518a5.58d298","name":"css","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"html {\n  cursor: none;\n  overflow:hidden;\n}\n\n::-webkit-scrollbar { \n    display: none; \n}\n\nbody {\n  margin: 60px;\n  position: absolute;\n  height: calc(100% - 120px);\n  width: calc(100% - 120px);\n  background: #000;\n  color: #aaa;\n  font-family: \"Roboto Condensed\", sans-serif;\n  font-weight: 400;\n  font-size: 2.5em;\n  line-height: 1.5em;\n  -webkit-font-smoothing: antialiased;\n}\n\nli{\n\tmargin: 0 0 3px 0;\n}\n\nimg {\n    vertical-align: middle;\n}\n\n/**\n * Default styles.\n */\n\n.dimmed {\n  color: #666;\n}\n\n.normal {\n  color: #999;\n}\n\n.bright {\n  color: #fff;\n}\n\n.xsmall {\n  font-size: 15px;\n  line-height: 20px;\n}\n\n.small {\n  font-size: 20px;\n  line-height: 25px;\n}\n\n.medium {\n  font-size: 30px;\n  line-height: 35px;\n}\n\n.large {\n  font-size: 65px;\n  line-height: 65px;\n}\n\n.xlarge {\n  font-size: 75px;\n  line-height: 75px;\n  letter-spacing: -3px;\n}\n\n.thin {\n  font-family: Roboto, sans-serif;\n  font-weight: 100;\n}\n\n.light {\n  font-family: \"Roboto Condensed\", sans-serif;\n  font-weight: 300;\n}\n\n.regular {\n  font-family: \"Roboto Condensed\", sans-serif;\n  font-weight: 400;\n}\n\n.bold {\n  font-family: \"Roboto Condensed\", sans-serif;\n  font-weight: 700;\n}\n\n.align-right {\n  text-align: right;\n}\n\n.align-left {\n  text-align: left;\n}\n\nheader {\n  text-transform: uppercase;\n  font-size: 15px;\n  font-family: \"Roboto Condensed\";\n  font-weight: 400;\n  border-bottom: 1px solid #666;\n  line-height: 15px;\n  padding-bottom: 5px;\n  margin-bottom: 10px;\n  color: #999;\n}\n\nsup {\n  font-size: 50%;\n  line-height: 50%;\n}\n\ndiv.main {\n    height: 400px;\n    width: 600px;\n    background-color: blue;\n}\n\ndiv.icon{\n\n\tposition: absolute;\n    bottom: 50;\n    right: 0;\n    width: 300px;\n    border: 3px solid #73AD21;\n}\n\n\ndiv.location {\n    font-size:large;\n\tdisplay:table;\n}\n\ndiv.messages {\n    font-size:small;\n}\n\ndiv.description {\n\tdisplay:table-cell;\n\tvertical-align:middle;\t\n\tstyle=\"height: 64px;\"\n\tfont-size: 100px;\n}\n","x":548.3333587646484,"y":1030.0000368754067,"wires":[["51d038c5.589b"]]},{"id":"1f7959f0.4daed6","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":694,"y":32,"wires":[]},{"id":"836f3de5.bc796","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":737,"y":279,"wires":[]},{"id":"ef05df35.a33e38","type":"template","z":"df6518a5.58d298","name":"timezone","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.timeZoneName}}","x":1188.333325703939,"y":549.9999955495199,"wires":[["34726469.d16934","69db5bcc.46a964"]]},{"id":"34726469.d16934","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":1414.333325703939,"y":547.9999955495199,"wires":[["5c4c3834.1e3968"]]},{"id":"79289a0e.528164","type":"template","z":"df6518a5.58d298","name":"driving","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Driving above speed","x":381,"y":2290,"wires":[["77ac5b5b.e835f4","5f72c0df.9ef2f"]]},{"id":"5f72c0df.9ef2f","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":561,"y":2260,"wires":[]},{"id":"77ac5b5b.e835f4","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":572,"y":2327,"wires":[["3eaed1ca.f1dd2e"]]},{"id":"3eaed1ca.f1dd2e","type":"json","z":"df6518a5.58d298","name":"","x":782.142822265625,"y":2358.2857055664062,"wires":[["6f722eb3.62a9f"]]},{"id":"6f722eb3.62a9f","type":"http response","z":"df6518a5.58d298","name":"http","x":984.4285888671875,"y":2355.5714416503906,"wires":[]},{"id":"77d7e1e5.a15e1","type":"websocket in","z":"291a27a2.d21df8","name":"","server":"7d961659.8bdb3","client":"","x":692.5,"y":642.5,"wires":[["c351ad7a.17db58"]]},{"id":"ad5210ab.4859c","type":"inject","z":"291a27a2.d21df8","name":"Tick every 5 secs","topic":"time","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":572.5,"y":582.5,"wires":[["46772275.0523dc"]]},{"id":"27bba9b9.20b5b6","type":"websocket out","z":"291a27a2.d21df8","name":"","server":"f26b42f.a1e134","client":"","x":972.5,"y":582.5,"wires":[]},{"id":"83b99140.6009b8","type":"http response","z":"291a27a2.d21df8","name":"","x":943.5,"y":522.5,"wires":[]},{"id":"37fab2ed.45f35e","type":"http in","z":"291a27a2.d21df8","name":"","url":"/schedule","method":"get","swaggerDoc":"","x":584.5,"y":522.5,"wires":[["172880e8.ac2b27"]]},{"id":"172880e8.ac2b27","type":"template","z":"291a27a2.d21df8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"schedule\",\"ws/updateschedule\");\n\n        function wsConnect() {\n            if(msg.topic === 'time')\n            {\n                var timeMsg = msg;\n            }\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(timeMsg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = timeMsg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":771.5,"y":522.5,"wires":[["83b99140.6009b8"]]},{"id":"46772275.0523dc","type":"function","z":"291a27a2.d21df8","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":760.5,"y":582.5,"wires":[["27bba9b9.20b5b6"]]},{"id":"c351ad7a.17db58","type":"debug","z":"291a27a2.d21df8","name":"","active":true,"console":"false","complete":"false","x":918.5,"y":642.5,"wires":[]},{"id":"51360c44.aae484","type":"http request","z":"a2a2101b.a5c09","name":"Get Current Weather","method":"GET","ret":"obj","url":"http://api.apixu.com/v1/forecast.json?key=ace5a435cc774be5a7510002172502&q=61704&days=1","tls":"","x":345,"y":135,"wires":[["f2d59718.9bd6f8","e5425b84.14a758"]]},{"id":"f2d59718.9bd6f8","type":"template","z":"a2a2101b.a5c09","name":"Current weather Mirror","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<br>It is currently  {{payload.current.condition.text}} now, with temperature of {{payload.current.temp_f}} degree Fahrenheit <br>","x":607.5000076293945,"y":58.75000286102295,"wires":[["99311896.269f48"]]},{"id":"99311896.269f48","type":"websocket out","z":"a2a2101b.a5c09","name":"","server":"e319f0e3.708418","client":"","x":892.5000114440918,"y":57.49998664855957,"wires":[]},{"id":"45824a1c.829754","type":"link out","z":"df6518a5.58d298","name":"Current Weather","links":["e645cc6c.cc26b"],"x":535.0000076293945,"y":608.7500095367432,"wires":[]},{"id":"e645cc6c.cc26b","type":"link in","z":"a2a2101b.a5c09","name":"Current Weather","links":["45824a1c.829754"],"x":125.00000190734863,"y":135.00000190734863,"wires":[["51360c44.aae484"]]},{"id":"31c2d04.f2c863","type":"template","z":"a2a2101b.a5c09","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":830.0000114440918,"y":273.75000381469727,"wires":[["230db1d9.08c25e"]]},{"id":"230db1d9.08c25e","type":"json","z":"a2a2101b.a5c09","name":"","x":1023.0000762939453,"y":273.08337783813477,"wires":[["d21a8366.f2a9a"]]},{"id":"d21a8366.f2a9a","type":"http response","z":"a2a2101b.a5c09","name":"http","x":1181.7859077453613,"y":272.15478897094727,"wires":[]},{"id":"e5425b84.14a758","type":"template","z":"a2a2101b.a5c09","name":"Current weather Alexa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It is currently  {{payload.current.condition.text}} now, with temperature of {{payload.current.temp_f}} degree Fahrenheit","x":582.5,"y":273.75,"wires":[["31c2d04.f2c863"]]},{"id":"b8a2c3cd.6fede","type":"http request","z":"a2a2101b.a5c09","name":"Get Forecast Weather","method":"GET","ret":"obj","url":"http://api.apixu.com/v1/forecast.json?key=ace5a435cc774be5a7510002172502&q=61704&days=1","tls":"","x":342.50000762939453,"y":527.5000076293945,"wires":[["3d315724.6629b8","8629aa04.9b2918"]]},{"id":"3d315724.6629b8","type":"template","z":"a2a2101b.a5c09","name":"Forecast weather Mirror","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<br>{{payload.forecast.forecastday.0.day.condition.text}} today, with maximum temperature of {{payload.forecast.forecastday.0.day.maxtemp_f}} degree Fahrenheit and minimum temperature of {{payload.forecast.forecastday.0.day.mintemp_f}} degree Fahrenheit<br>","x":612.5000076293945,"y":420.00000762939453,"wires":[["5d126c9e.4314d4"]]},{"id":"8629aa04.9b2918","type":"template","z":"a2a2101b.a5c09","name":"Forecst weather Alexa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.forecast.forecastday.0.day.condition.text}} today, with maximum temperature of {{payload.forecast.forecastday.0.day.maxtemp_f}} degree Fahrenheit and minimum temperature of {{payload.forecast.forecastday.0.day.mintemp_f}} degree Fahrenheit","x":605,"y":643.75,"wires":[["c0d16aea.953d78"]]},{"id":"c0d16aea.953d78","type":"template","z":"a2a2101b.a5c09","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":852.5000114440918,"y":643.7500038146973,"wires":[["d7bf45e1.62bca8"]]},{"id":"5d126c9e.4314d4","type":"websocket out","z":"a2a2101b.a5c09","name":"","server":"e319f0e3.708418","client":"","x":910.0000114440918,"y":427.50000762939453,"wires":[]},{"id":"d7bf45e1.62bca8","type":"json","z":"a2a2101b.a5c09","name":"","x":1045.5000762939453,"y":643.0833778381348,"wires":[["5fb7c1d2.5f29f"]]},{"id":"5fb7c1d2.5f29f","type":"http response","z":"a2a2101b.a5c09","name":"http","x":1204.2859077453613,"y":642.1547889709473,"wires":[]},{"id":"6d193d6a.821514","type":"link in","z":"a2a2101b.a5c09","name":"Forecast weather","links":["25030d17.214672"],"x":136.25000190734863,"y":526.2500076293945,"wires":[["b8a2c3cd.6fede"]]},{"id":"25030d17.214672","type":"link out","z":"df6518a5.58d298","name":"Forecast weather","links":["6d193d6a.821514"],"x":530.0000076293945,"y":657.5000114440918,"wires":[]},{"id":"9cf83a2d.52ade8","type":"function","z":"4bb0a340.a70ccc","name":"add http header","func":"msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":266.25,"y":131.25,"wires":[["39d723b5.b920dc"]]},{"id":"39d723b5.b920dc","type":"http request","z":"4bb0a340.a70ccc","name":"get traffic","method":"GET","ret":"obj","url":"https://www.mapquestapi.com/traffic/v2/incidents?&outFormat=json&boundingBox=41.95055394133776%2C-87.47039794921874%2C41.81584950164211%2C-87.79449462890625&key=FH5SwSGGk43fnpqWK8Bxj4PFeZGOXD3q","tls":"","x":496.2500991821289,"y":130.41662979125977,"wires":[["198d4796.b194a8","bd3b154d.e7a8a8","56387d92.780cf4"]]},{"id":"56387d92.780cf4","type":"function","z":"4bb0a340.a70ccc","name":"Verify any incidents","func":"if (msg.payload.incidents.length ===0){\n    msg.payload = JSON.stringify('There are no incidents. You can start your journey!');\nreturn [null,msg];\n}\nelse\n{\n    //var msg1,i;\n    //msg1={};\n    //for (i=0;i<msg.payload.incidents.length - 1;i++){\n       //msg1 = msg1+msg.payload.incidents[i].shortDesc;\n       \n   //}\n   //msg1.payload = msg1;\n   //msg.payload = JSON.stringify(msg1.payload);\n   return [msg,null];\n}","outputs":"2","noerr":0,"x":733.3332633972168,"y":395.4166946411133,"wires":[["d76963b2.95d26","cbfe317d.a20ff"],["ed3ccdcb.bd6"]]},{"id":"bd3b154d.e7a8a8","type":"template","z":"4bb0a340.a70ccc","name":"first news","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.incidents.0.shortDesc}}","x":780.4166374206543,"y":162.91669273376465,"wires":[["a10b586e.818368","c48d8a7b.13ba28"]]},{"id":"198d4796.b194a8","type":"debug","z":"4bb0a340.a70ccc","name":"","active":true,"console":"false","complete":"false","x":813.750072479248,"y":89.58328628540039,"wires":[]},{"id":"a10b586e.818368","type":"debug","z":"4bb0a340.a70ccc","name":"","active":true,"console":"false","complete":"false","x":1018.3333892822266,"y":161.66672229766846,"wires":[]},{"id":"c48d8a7b.13ba28","type":"function","z":"4bb0a340.a70ccc","name":"if empty","func":"if (msg.payload === \"\"){\n    msg.payload = \"No incidents at all\";\n    return msg;\n}\nelse\n{\nreturn msg;    \n}\n","outputs":1,"noerr":0,"x":965.8333282470703,"y":238.3333797454834,"wires":[["1073b3dd.2028fc"]]},{"id":"d76963b2.95d26","type":"debug","z":"4bb0a340.a70ccc","name":"","active":true,"console":"false","complete":"false","x":1010.4165153503418,"y":335.83343982696533,"wires":[]},{"id":"cbfe317d.a20ff","type":"template","z":"4bb0a340.a70ccc","name":"traffic web template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<br>Traffic incidents in your area,<br>\n{{payload.incidents.0.shortDesc}}<br>\n{{payload.incidents.1.shortDesc}}<br>\n{{payload.incidents.2.shortDesc}}<br>\n{{payload.incidents.3.shortDesc}}<br>\n{{payload.incidents.4.shortDesc}}<br>","x":1000.0000152587891,"y":395.83344078063965,"wires":[["faffe430.388d18"]]},{"id":"ed3ccdcb.bd6","type":"template","z":"4bb0a340.a70ccc","name":"traffic web template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<br>There are no incidents in your area, Good luck for your journey!","x":1008.7500152587891,"y":473.7500686645508,"wires":[["c025a24e.e62f2"]]},{"id":"1073b3dd.2028fc","type":"template","z":"4bb0a340.a70ccc","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":1171.2498970031738,"y":242.91669273376465,"wires":[["15cdde0d.f194f2"]]},{"id":"15cdde0d.f194f2","type":"json","z":"4bb0a340.a70ccc","name":"","x":1387.999900817871,"y":249.75006675720215,"wires":[["49dc56ef.a0ab48"]]},{"id":"faffe430.388d18","type":"websocket out","z":"4bb0a340.a70ccc","name":"","server":"e319f0e3.708418","client":"","x":1221.6665229797363,"y":415.4165725708008,"wires":[]},{"id":"c025a24e.e62f2","type":"websocket out","z":"4bb0a340.a70ccc","name":"","server":"e319f0e3.708418","client":"","x":1236.6665229797363,"y":494.5831995010376,"wires":[]},{"id":"49dc56ef.a0ab48","type":"http response","z":"4bb0a340.a70ccc","name":"http","x":1591.369041442871,"y":249.65482139587402,"wires":[]},{"id":"bca17f6a.ce2cf","type":"link in","z":"4bb0a340.a70ccc","name":"Traffic","links":["8647d1ef.ac4ff"],"x":65,"y":131.25,"wires":[["9cf83a2d.52ade8"]]},{"id":"8647d1ef.ac4ff","type":"link out","z":"df6518a5.58d298","name":"Traffic","links":["bca17f6a.ce2cf"],"x":533.75,"y":563.75,"wires":[]},{"id":"21c51e.7f1ceae2","type":"http request","z":"be5804a0.ac3408","name":"get news from bing","method":"GET","ret":"obj","url":"https://api.cognitive.microsoft.com/bing/v5.0/news/search?q=top stories&count=5&offset=0&mkt=en-us&safeSearch=Moderate","tls":"","x":551.2500076293945,"y":161.25000381469727,"wires":[["7d8e050.8db09fc","f07e115f.c6f55","9b7b5276.eb914"]]},{"id":"2cb9c94c.0d4246","type":"function","z":"be5804a0.ac3408","name":"add http header","func":"msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Ocp-Apim-Subscription-Key\":\"a00545aa3fbe425b89b27863b6718c0a\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":348.33333333333337,"y":161.66666666666663,"wires":[["21c51e.7f1ceae2"]]},{"id":"7d8e050.8db09fc","type":"template","z":"be5804a0.ac3408","name":"news template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<br>Here are the top stories, <br>\n1. {{payload.value.0.name}}<br>\n2. {{payload.value.1.name}}<br>\n3. {{payload.value.2.name}}<br>\n4. {{payload.value.3.name}}<br>\n5. {{payload.value.4.name}}<br>","x":816.7500762939453,"y":275.16669178009033,"wires":[["c85885dd.9a15c8"]]},{"id":"c85885dd.9a15c8","type":"websocket out","z":"be5804a0.ac3408","name":"","server":"e319f0e3.708418","client":"","x":1087.416763305664,"y":271.66669273376465,"wires":[]},{"id":"f07e115f.c6f55","type":"template","z":"be5804a0.ac3408","name":"first news","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value.0.name}}","x":801.8333282470703,"y":166.25000381469727,"wires":[["99c002db.37d1f"]]},{"id":"99c002db.37d1f","type":"template","z":"be5804a0.ac3408","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":1056.8333892822266,"y":174.25000381469727,"wires":[["b4d08526.59a6c8"]]},{"id":"b4d08526.59a6c8","type":"json","z":"be5804a0.ac3408","name":"","x":1318.5833930969238,"y":174.83337783813477,"wires":[["af1b5ee.ae5cca"]]},{"id":"af1b5ee.ae5cca","type":"http response","z":"be5804a0.ac3408","name":"http","x":1525.702537536621,"y":177.23816299438477,"wires":[]},{"id":"9b7b5276.eb914","type":"debug","z":"be5804a0.ac3408","name":"","active":true,"console":"false","complete":"false","x":787.9166984558105,"y":90.41670513153076,"wires":[]},{"id":"ce259a7b.4c7f88","type":"link in","z":"be5804a0.ac3408","name":"News","links":["1a2e30d9.6953ef"],"x":128.75,"y":161.25,"wires":[["2cb9c94c.0d4246"]]},{"id":"1a2e30d9.6953ef","type":"link out","z":"df6518a5.58d298","name":"News","links":["ce259a7b.4c7f88"],"x":555,"y":500,"wires":[]}]
