Nodered code.txt
[{"id":"836f3de5.bc796","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":737,"y":279,"wires":[]},{"id":"9f20461e.3dee38","type":"ibmiot in","z":"df6518a5.58d298","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"mydevice","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":"2","x":55,"y":212.66668701171875,"wires":[["111cbe1.7a34742","e9d81268.f41dc"]]},{"id":"111cbe1.7a34742","type":"debug","z":"df6518a5.58d298","name":"","active":false,"console":"false","complete":"payload","x":219.83331298828125,"y":57.66667175292969,"wires":[]},{"id":"d106adb.a836e5","type":"cloudant out","z":"df6518a5.58d298","name":"cardata","cloudant":"","database":"cardata","service":"cardata-cloudantNoSQLDB","payonly":true,"operation":"insert","x":65,"y":298.33331298828125,"wires":[]},{"id":"350a4d35.56b6ca","type":"http in","z":"df6518a5.58d298","name":"incoming request","url":"/jarvis","method":"post","swaggerDoc":"","x":85,"y":731,"wires":[["7ce4c955.a56b28"]]},{"id":"7ce4c955.a56b28","type":"switch","z":"df6518a5.58d298","name":"sort by request type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":196,"y":594,"wires":[[],["ffed5c24.4817c8"],[],[]]},{"id":"ffed5c24.4817c8","type":"switch","z":"df6518a5.58d298","name":"Sort by Intent","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"HelloWorldIntent","vt":"str"},{"t":"eq","v":"HelpIntent","vt":"str"},{"t":"eq","v":"DriveIntent","vt":"str"},{"t":"eq","v":"TimeIntent","vt":"str"},{"t":"eq","v":"NewsIntent","vt":"str"},{"t":"eq","v":"TrafficIntent","vt":"str"}],"checkall":"true","outputs":6,"x":365.3333282470703,"y":448.6666564941406,"wires":[["4ead6d.fc3ed294"],[],["e9d81268.f41dc"],["ffc9678e.eac618"],["ff2edd0a.707c5"],["8330181f.485038"]]},{"id":"4ead6d.fc3ed294","type":"template","z":"df6518a5.58d298","name":"say Hello","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello World","x":644.7143630981445,"y":405.57140922546387,"wires":[["9106cc87.af80e8","fa6d61e0.f8ca3"]]},{"id":"9106cc87.af80e8","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"Thanks for your question, here is the response from Jarvis!!{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":827.2856521606445,"y":407.14282035827637,"wires":[["e1e3ba25.5732c8"]]},{"id":"e1e3ba25.5732c8","type":"json","z":"df6518a5.58d298","name":"","x":1006.714241027832,"y":410.42858695983887,"wires":[["e5834861.733c28"]]},{"id":"e5834861.733c28","type":"http response","z":"df6518a5.58d298","name":"http","x":1172.0000076293945,"y":406.99999809265137,"wires":[]},{"id":"19870802.cd35b","type":"template","z":"df6518a5.58d298","name":"not driving","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Not driving at all","x":561.142822265625,"y":245,"wires":[["8c9572d1.10d928","836f3de5.bc796"]]},{"id":"8c9572d1.10d928","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":763.857177734375,"y":207,"wires":[["8dfc7aac.50176"]]},{"id":"8dfc7aac.50176","type":"json","z":"df6518a5.58d298","name":"","x":933,"y":252.28570556640625,"wires":[["2dbefd1e.7c201a"]]},{"id":"2dbefd1e.7c201a","type":"http response","z":"df6518a5.58d298","name":"http","x":1082.2857666015625,"y":264.5714416503906,"wires":[]},{"id":"e9d81268.f41dc","type":"function","z":"df6518a5.58d298","name":"make it as msg2","func":"context.ibmiot = context.ibmiot || null;\n\ncontext.intent = context.intent || null;\n var speedMsg  , intentMsg; \n\nif (msg.payload.request.type === 'IBMiot')\n    {\n    context.ibmiot = msg.payload;\n    var speedMsg = msg;\n     //speedMsg.payload = (msg.payload.request.rpm <= 1000) ? true : false;\n     //return [speedMsg , null];\n\n    }else if (msg.payload.request.type === 'IntentRequest')\n    {\n    context.intent = msg.payload;\n    var intentMsg = msg;\n    }\n    \n    \n\nif (context.intent !== null && context.ibmiot !== null)\n    {\n    //return ibmiot response to a function to calculate the speed\n    \n    \n    context.ibmiot = null;\n    context.intent = null;\n    return [intentMsg , null];  \n    \n    \n}else if (context.intent !== null && context.ibmiot === null){\n    //return output to a function saying not driving;\n    context.ibmiot = null;\n    context.intent = null;\n    return [null , intentMsg];\n\n}else if (context.intent === null && context.ibmiot !== null){\n    //return null on both the outputs so no action takes place.\n   // return [speedMsg, null];\n\n}else if (context.intent === null && context.ibmiot === null){\n    //This condition will never be satisfied.\n}\n","outputs":"2","noerr":0,"x":339.142822265625,"y":213.28570556640625,"wires":[["945e9389.6de718"],["19870802.cd35b"]]},{"id":"945e9389.6de718","type":"template","z":"df6518a5.58d298","name":"driving","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"driving well within the speed limits","x":514,"y":62,"wires":[["bc0a21a7.76c9d8","1f7959f0.4daed6"]]},{"id":"bc0a21a7.76c9d8","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":705,"y":99,"wires":[["c4fb9469.cb4f7"]]},{"id":"c4fb9469.cb4f7","type":"json","z":"df6518a5.58d298","name":"","x":915.142822265625,"y":130.28570556640625,"wires":[["5c996ef2.66277"]]},{"id":"5c996ef2.66277","type":"http response","z":"df6518a5.58d298","name":"http","x":1117.4285888671875,"y":127.57144165039062,"wires":[]},{"id":"ffc9678e.eac618","type":"http request","z":"df6518a5.58d298","name":"get time zone","method":"GET","ret":"obj","url":"https://maps.googleapis.com/maps/api/timezone/json?location=40.4841,-88.9937&timestamp=1458000000&key=AIzaSyDatNfYBbLunXW1zkmXBfy1AyoegIlIq2g","tls":"","x":1015.0000534057617,"y":485.000036239624,"wires":[["ef05df35.a33e38"]]},{"id":"5c4c3834.1e3968","type":"json","z":"df6518a5.58d298","name":"","x":1672.3333867390952,"y":547.3333695729574,"wires":[["f015ccb2.00d8b"]]},{"id":"f015ccb2.00d8b","type":"http response","z":"df6518a5.58d298","name":"http","x":1838.6191533406577,"y":543.9047807057699,"wires":[]},{"id":"fa6d61e0.f8ca3","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":810.7500076293945,"y":355.99999809265137,"wires":[]},{"id":"182bda8e.7af74d","type":"http response","z":"df6518a5.58d298","name":"","x":946.8333587646484,"y":1030.8333702087402,"wires":[]},{"id":"10c2153c.0719a3","type":"http in","z":"df6518a5.58d298","name":"","url":"/simple","method":"get","swaggerDoc":"","x":381.1666946411133,"y":1030.8333616256714,"wires":[["14dbc230.b2c1ae"]]},{"id":"51d038c5.589b","type":"template","z":"df6518a5.58d298","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Smart Mirror Assistant</title>\n    <style>{{{payload.style}}}</style>\n    <script type=\"text/javascript\">\n        var ws,ws1;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            \n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+\"Jarvis has responded to your question :  \"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                document.getElementById('time').innerHTML = datetime;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            \n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            \n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { \n            ws.send(m);\n            }\n        }\n        \n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h4><i>Hello, this is Jarvis!! Your Smart Mirror</i></h4>\n        <div id=\"successdisplay\" style=\"font-size:100%\">I am here to help!! Ask me your questions!!\n\t\t</div>\n        <div id=\"messages\" style=\"font-size:60%\"></div>\n        <hr/>\n        \n        <!-- <div id=\"status\">unknown</div>-->\n        </font>\n    </body>\n    \n</html>\n","x":774.8333587646484,"y":1030.8333702087402,"wires":[["182bda8e.7af74d"]]},{"id":"6a77f7ed.136d08","type":"websocket in","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":762.8333587646484,"y":1142.8333702087402,"wires":[["49f188b7.98de2"]]},{"id":"49f188b7.98de2","type":"debug","z":"df6518a5.58d298","name":"","active":true,"console":"false","complete":"false","x":952.8333587646484,"y":1142.8333702087402,"wires":[]},{"id":"69db5bcc.46a964","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":1517.0000127156577,"y":486.33330853780114,"wires":[]},{"id":"14dbc230.b2c1ae","type":"template","z":"df6518a5.58d298","name":"css","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"html {\n  cursor: none;\n  overflow:hidden;\n}\n\n::-webkit-scrollbar { \n    display: none; \n}\n\nbody {\n  margin: 60px;\n  position: absolute;\n  height: calc(100% - 120px);\n  width: calc(100% - 120px);\n  background: #000;\n  color: #aaa;\n  font-family: \"Roboto Condensed\", sans-serif;\n  font-weight: 400;\n  font-size: 2.5em;\n  line-height: 1.5em;\n  -webkit-font-smoothing: antialiased;\n}\n\nli{\n\tmargin: 0 0 3px 0;\n}\n\nimg {\n    vertical-align: middle;\n}\n\n/**\n * Default styles.\n */\n\n.dimmed {\n  color: #666;\n}\n\n.normal {\n  color: #999;\n}\n\n.bright {\n  color: #fff;\n}\n\n.xsmall {\n  font-size: 15px;\n  line-height: 20px;\n}\n\n.small {\n  font-size: 20px;\n  line-height: 25px;\n}\n\n.medium {\n  font-size: 30px;\n  line-height: 35px;\n}\n\n.large {\n  font-size: 65px;\n  line-height: 65px;\n}\n\n.xlarge {\n  font-size: 75px;\n  line-height: 75px;\n  letter-spacing: -3px;\n}\n\n.thin {\n  font-family: Roboto, sans-serif;\n  font-weight: 100;\n}\n\n.light {\n  font-family: \"Roboto Condensed\", sans-serif;\n  font-weight: 300;\n}\n\n.regular {\n  font-family: \"Roboto Condensed\", sans-serif;\n  font-weight: 400;\n}\n\n.bold {\n  font-family: \"Roboto Condensed\", sans-serif;\n  font-weight: 700;\n}\n\n.align-right {\n  text-align: right;\n}\n\n.align-left {\n  text-align: left;\n}\n\nheader {\n  text-transform: uppercase;\n  font-size: 15px;\n  font-family: \"Roboto Condensed\";\n  font-weight: 400;\n  border-bottom: 1px solid #666;\n  line-height: 15px;\n  padding-bottom: 5px;\n  margin-bottom: 10px;\n  color: #999;\n}\n\nsup {\n  font-size: 50%;\n  line-height: 50%;\n}\n\ndiv.main {\n    height: 400px;\n    width: 600px;\n    background-color: blue;\n}\n\ndiv.icon{\n\n\tposition: absolute;\n    bottom: 50;\n    right: 0;\n    width: 300px;\n    border: 3px solid #73AD21;\n}\n\n\ndiv.location {\n    font-size:large;\n\tdisplay:table;\n}\n\ndiv.messages {\n    font-size:small;\n}\n\ndiv.description {\n\tdisplay:table-cell;\n\tvertical-align:middle;\t\n\tstyle=\"height: 64px;\"\n\tfont-size: 100px;\n}\n","x":548.3333587646484,"y":1030.0000368754067,"wires":[["51d038c5.589b"]]},{"id":"1f7959f0.4daed6","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":694,"y":32,"wires":[]},{"id":"ef05df35.a33e38","type":"template","z":"df6518a5.58d298","name":"timezone","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.timeZoneName}}","x":1188.333325703939,"y":549.9999955495199,"wires":[["34726469.d16934","69db5bcc.46a964"]]},{"id":"34726469.d16934","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":1414.333325703939,"y":547.9999955495199,"wires":[["5c4c3834.1e3968"]]},{"id":"ae89193b.0ecca8","type":"http request","z":"df6518a5.58d298","name":"get news from bing","method":"GET","ret":"obj","url":"https://api.cognitive.microsoft.com/bing/v5.0/news/search?q=top stories&count=5&offset=0&mkt=en-us&safeSearch=Moderate","tls":"","x":878.3333460489908,"y":641.6666749318441,"wires":[["5227f40a.e51a34","2364215a.3d0d6e","1c55aef7.070df9"]]},{"id":"ff2edd0a.707c5","type":"function","z":"df6518a5.58d298","name":"add http header","func":"msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Ocp-Apim-Subscription-Key\":\"a00545aa3fbe425b89b27863b6718c0a\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":771.6666793823242,"y":578.3333415985107,"wires":[["ae89193b.0ecca8"]]},{"id":"5227f40a.e51a34","type":"template","z":"df6518a5.58d298","name":"news template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<br>Here are the top stories, <br>\n1. {{payload.value.0.name}}<br>\n2. {{payload.value.1.name}}<br>\n3. {{payload.value.2.name}}<br>\n4. {{payload.value.3.name}}<br>\n5. {{payload.value.4.name}}<br>","x":1271.333381652832,"y":749.3333644866943,"wires":[["b312658.0afff98"]]},{"id":"b312658.0afff98","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":1567.0000534057617,"y":758.3333644866943,"wires":[]},{"id":"2364215a.3d0d6e","type":"template","z":"df6518a5.58d298","name":"first news","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value.0.name}}","x":1337.6666793823242,"y":691.666674931844,"wires":[["4f3f0e43.7680a8"]]},{"id":"4f3f0e43.7680a8","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":1547.6666793823242,"y":689.6666749318442,"wires":[["35d5fb6e.a5acc4"]]},{"id":"35d5fb6e.a5acc4","type":"json","z":"df6518a5.58d298","name":"","x":1805.6667404174805,"y":689.0000489552817,"wires":[["8e680e2.8b4d4f"]]},{"id":"8e680e2.8b4d4f","type":"http response","z":"df6518a5.58d298","name":"http","x":1990.2858848571777,"y":688.9048194885254,"wires":[]},{"id":"79289a0e.528164","type":"template","z":"df6518a5.58d298","name":"driving","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Driving above speed","x":381,"y":2290,"wires":[["77ac5b5b.e835f4","5f72c0df.9ef2f"]]},{"id":"5f72c0df.9ef2f","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":561,"y":2260,"wires":[]},{"id":"77ac5b5b.e835f4","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":572,"y":2327,"wires":[["3eaed1ca.f1dd2e"]]},{"id":"3eaed1ca.f1dd2e","type":"json","z":"df6518a5.58d298","name":"","x":782.142822265625,"y":2358.2857055664062,"wires":[["6f722eb3.62a9f"]]},{"id":"6f722eb3.62a9f","type":"http response","z":"df6518a5.58d298","name":"http","x":984.4285888671875,"y":2355.5714416503906,"wires":[]},{"id":"1c55aef7.070df9","type":"debug","z":"df6518a5.58d298","name":"","active":true,"console":"false","complete":"false","x":1145.00004196167,"y":608.3333797454834,"wires":[]},{"id":"8330181f.485038","type":"function","z":"df6518a5.58d298","name":"add http header","func":"msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":774.9999389648438,"wires":[["1ed5d5e3.46f72a"]]},{"id":"1ed5d5e3.46f72a","type":"http request","z":"df6518a5.58d298","name":"get traffic","method":"GET","ret":"obj","url":"https://www.mapquestapi.com/traffic/v2/incidents?&outFormat=json&boundingBox=41.95055394133776%2C-87.47039794921874%2C41.81584950164211%2C-87.79449462890625&key=FH5SwSGGk43fnpqWK8Bxj4PFeZGOXD3q","tls":"","x":925.0000953674319,"y":786.6665732065837,"wires":[["ec47967.a283f68","6b8a97f4.999cf8","1b5177c9.9bbed8"]]},{"id":"ec47967.a283f68","type":"debug","z":"df6518a5.58d298","name":"","active":true,"console":"false","complete":"false","x":1190.0000457763672,"y":798.3332443237305,"wires":[]},{"id":"6b8a97f4.999cf8","type":"template","z":"df6518a5.58d298","name":"first news","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.incidents.0.shortDesc}}","x":1186.6666259765625,"y":886.6666259765625,"wires":[["4d65349b.291edc","42e9dd76.5a4314"]]},{"id":"4d65349b.291edc","type":"debug","z":"df6518a5.58d298","name":"","active":true,"console":"false","complete":"false","x":1378.3333892822266,"y":821.6666812896729,"wires":[]},{"id":"42e9dd76.5a4314","type":"function","z":"df6518a5.58d298","name":"if empty","func":"if (msg.payload === \"\"){\n    msg.payload = \"No incidents at all\";\n    return msg;\n}\nelse\n{\nreturn msg;    \n}\n","outputs":1,"noerr":0,"x":1403.333333333333,"y":898.3333333333331,"wires":[["7d0b02d6.45567c"]]},{"id":"d3af2213.ac5ef","type":"template","z":"df6518a5.58d298","name":"traffic web template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<br>Traffic incidents in your area,<br>\n{{payload.incidents.0.shortDesc}}<br>\n{{payload.incidents.1.shortDesc}}<br>\n{{payload.incidents.2.shortDesc}}<br>\n{{payload.incidents.3.shortDesc}}<br>\n{{payload.incidents.4.shortDesc}}<br>","x":1442.5,"y":1008.3333740234375,"wires":[["573fe999.9d0178"]]},{"id":"7d0b02d6.45567c","type":"template","z":"df6518a5.58d298","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {\n    \"string\": \"1.0\"\n  },\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\":true\n    }\n    }","x":1599.9998779296875,"y":896.6666259765625,"wires":[["af3952be.7f98e"]]},{"id":"af3952be.7f98e","type":"json","z":"df6518a5.58d298","name":"","x":1857.9999389648438,"y":896,"wires":[["1e1df565.46e55b"]]},{"id":"1e1df565.46e55b","type":"http response","z":"df6518a5.58d298","name":"http","x":2042.619083404541,"y":895.9047705332437,"wires":[]},{"id":"573fe999.9d0178","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":1804.16650390625,"y":1004.16650390625,"wires":[]},{"id":"1b5177c9.9bbed8","type":"function","z":"df6518a5.58d298","name":"","func":"if (msg.payload.incidents.length ===0){\n    msg.payload = JSON.stringify('There are no incidents. You can start your journey!');\nreturn [null,msg];\n}\nelse\n{\n    //var msg1,i;\n    //msg1={};\n    //for (i=0;i<msg.payload.incidents.length - 1;i++){\n       //msg1 = msg1+msg.payload.incidents[i].shortDesc;\n       \n   //}\n   //msg1.payload = msg1;\n   //msg.payload = JSON.stringify(msg1.payload);\n   return [msg,null];\n}","outputs":"2","noerr":0,"x":1043.3332557678223,"y":976.6666431427002,"wires":[["280de893.d6d828","d3af2213.ac5ef"],["a24fb680.4811e8"]]},{"id":"280de893.d6d828","type":"debug","z":"df6518a5.58d298","name":"","active":true,"console":"false","complete":"false","x":1301.66650390625,"y":965.8333740234375,"wires":[]},{"id":"a24fb680.4811e8","type":"template","z":"df6518a5.58d298","name":"traffic web template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<br>There are no incidents in your area, Good luck for your journey!","x":1435,"y":1110,"wires":[["9c9016a2.fe1fd"]]},{"id":"9c9016a2.fe1fd","type":"websocket out","z":"df6518a5.58d298","name":"","server":"e319f0e3.708418","client":"","x":1796.66650390625,"y":1105.8331298828125,"wires":[]},{"id":"e319f0e3.708418","type":"websocket-listener","z":"df6518a5.58d298","path":"/ws/simple","wholemsg":"false"}]